@import "variables";

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-red {
    color: $common-red !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
    font-size: 20px !important;
    opacity: 0.8 !important;
    &.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
        opacity: 1 !important;
        background-color: rgba(0, 0, 0, 0.1) !important;
        font-weight: 500;
    }
}