.login-background {
    background: linear-gradient(#2a00b7, #4300c6);
    height: 100vh;

    .register-container {
        width: 450px;
        max-height: 80%;
        background-color: white;
        border-radius: 10px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .register-content {
            padding: 35px;
            .text-register {
                text-align: center;
                font-weight: 600;
                font-size: 30px;
                color: #3d009c;
            }

            .register-input {
                margin: 8px 0;
                display: flex;
                align-items: center;
                i {
                    margin-right: 10px;
                    font-size: 35px;
                    color: #9fa9b3;
                    width: 30px;
                }
                .gender-container {
                    display: flex;
                    align-items: center;

                    .form-check {
                        margin: 0 45%;
                        .form-check-input {
                            font-size: 20px;
                        }
                        .form-check-label{
                            font-size: 20px;
                        }
                    }
                }
                .form-control {
                    padding: 20px 20px;
                    font-size: 18px;
                }
                .custom-input-password {
                    position: relative;
                    width: 100%;
                    i {
                        position: absolute;
                        top: 25px;
                        right: 10px;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
            }

            .btn-register {
                width: 70%;
                height: 50px;
                margin: 0 60px;
                border-radius: 25px;
                border: none;
                background: #3d009c;
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
            }
            .btn-sign-up {
                width: 70%;
                height: 50px;
                margin: 0 20px;
                margin-bottom: 10px;
                border-radius: 25px;
                border: none;
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                background: #9fa9b3;
            }
            .forgot-password {
                font-size: 12px;
            }
        }
    }
}
