@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    user-select: none;

    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }

    .languages {
        .welcome {
            margin-right: 10px;
        }
        .languages-en {
            margin: 0 15px;
            cursor: pointer;
            opacity: 0.6;
            &.active {
                opacity: 1;
                color: orange;
            }
        }
        .languages-vi {
            opacity: 0.6;
            cursor: pointer;
            &.active {
                opacity: 1;
                color: orange;
            }
        }
    }
}
